// eBook Story 화면
#ebook {
  position: relative;
  width: 100%;
  height: 100vh;
  background-blend-mode: multiply;
  background-size: cover;
  background-position: center;
  background-color: rgba(0, 0, 0, 0.7);
  &::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    z-index: 0;
  }
  @include landscape {
    padding-top: 0;
  }
}

// eBook Story 내용 > 각 페이지
.ebook-page {
  position: relative;
  img {
    width: 100%;
    object-fit: cover;
    object-position: top;
  }
  .text-wrapper {
    position: relative;
    display: block;
  }
  .t {
    transform-origin: top left;
    line-height: 1;
    position: absolute;
    transform: scale(0.25);
    z-index: 2;
    white-space: nowrap;
  }
}

// eBook Story 내용 > 헤더
.ebook-header {
  height: 60px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  width: calc(100% - 40px);
  padding: 0 20px;
  display: flex;
  align-items: center;
  justify-content: end;
  .menu-button {
    cursor: pointer;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

// eBook Story 내용 > 본문 (PC버전)
.ebook-body-pc {
  margin: auto;
  height: calc(100vh - 60px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  z-index: 3;
  .ebook-contents {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 20px;
    .pages {
      display: flex;
    }
  }
}

// eBook Story 내용 > 플레이바 (PC버전)
.ebook-progress-bar-pc {
  width: 100%;
  height: 4px;
  background-color: #555;
  position: relative;
  z-index: 4;
  .progress {
    height: 4px;
    background-color: #2877ff;
    border-radius: 0 100px 100px 0;
    transition: width 0.2s;
  }
}
.ebook-play-bar-pc {
  width: calc(100% - 40px);
  height: 56px;
  color: #fff;
  background-color: #111111;
  padding: 0 20px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  position: relative;
  z-index: 5;
  .ebook-play-bar-pc-area-l {
    font-family: "SDRGGothicNeoRound-bBd";
    font-size: 0.9em;
    padding-left: 10px;
    display: flex;
    gap: 10px;
    .read-mode-option {
      display: flex;
      align-items: center;
      gap: 3px;
    }
  }
  .ebook-play-bar-pc-area-c {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    .backward,
    .forward {
      width: 40px;
      height: 40px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 100px;
      cursor: pointer;
      &:active {
        transform: scale(0.9);
      }
    }
    .play {
      width: 40px;
      height: 40px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 100px;
      cursor: pointer;
      &:active {
        transform: scale(0.9);
      }
    }
  }
  .ebook-play-bar-pc-area-r {
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 15px;
    padding-right: 10px;
    .full-screen-button {
      cursor: pointer;
      width: 40px;
      height: 40px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .word-button {
      cursor: pointer;
      font-family: "SDRGGothicNeoRound-bBd";
      font-size: 0.9em;
      width: 40px;
      height: 40px;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 5px;
    }
  }
}

// eBook Story 내용 > 플레이바 > 드롭다운 메뉴
.ebook-play-bar-drop-down-menu {
  position: relative;
  .read-mode-option {
    display: flex;
    align-items: center;
    gap: 3px;
    cursor: pointer;
  }
  .read-mode-option-menu {
    min-width: 150px;
    position: absolute;
    bottom: calc(100% + 15px);
    background-color: #000;
    color: #fff;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    border-radius: 10px;
    border: 1.5px solid #333;
    z-index: 2;
    .menu-name {
      padding: 5px 5px 10px 5px;
      font-weight: 600;
      font-size: 1.1em;
      border-bottom: 1px dashed #333;
    }
    .menu-item {
      padding: 10px 5px 5px 10px;
      font-weight: 600;
      cursor: pointer;
      &.on {
        background-color: #2877ff;
        border-radius: 5px;
      }
    }
  }
  .light-box {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.5);
  }
}

// eBook Story 내용 > 페이지 양쪽 화살표 (PC버전)
.ebook-page-arrows {
  display: flex;
  justify-content: space-between;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  top: calc(50% - 60px);
  .left-arrow,
  .right-arrow {
    button {
      background-color: transparent !important;
      padding: 0 !important;
    }
  }
  .right-arrow {
    position: absolute;
    right: 0;
  }
}
.slide-in-right {
  -webkit-animation: slide-in-right 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94)
    both !important;
  animation: slide-in-right 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94) both !important;
}
@-webkit-keyframes slide-in-right {
  0% {
    -webkit-transform: translateX(50px);
    transform: translateX(50px);
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
@keyframes slide-in-right {
  0% {
    -webkit-transform: translateX(50px);
    transform: translateX(50px);
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
.slide-in-left {
  -webkit-animation: slide-in-left 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94)
    both !important;
  animation: slide-in-left 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94) both !important;
}
@-webkit-keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(-50px);
    transform: translateX(-50px);
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
@keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(-50px);
    transform: translateX(-50px);
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

// eBook Story 내용 > 본문 (모바일버전)

// eBook Story 내용 > 단어장
.ebook-vocabulary-note {
  position: absolute;
  top: 0;
  right: 0;
  left: calc(100% - 390px);
  bottom: 0;
  z-index: 100;
  .ebook-vocabulary-note-container {
    color: #333;
    font-weight: 600;
    width: 350px;
    height: calc(100% - 25px);
    background-color: #fff;
    margin-left: auto;
    padding: 5px 20px 20px 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 30px 0 0 30px;
    box-shadow: -10px 0 50px rgba(0, 0, 0, 0.3);
    @include portrait-mobile {
      max-width: 300px;
    }
    @include landscape-mobile {
      max-width: 300px;
    }
    .ebook-vocabulary-note-area-top {
      .close-vocabulary-note {
        display: flex;
        justify-content: end;
        gap: 10px;
        margin-bottom: 20px;
        .btn-delete {
          cursor: pointer;
          -webkit-tap-highlight-color: transparent !important;
          display: flex;
          justify-content: center;
          align-items: center;
          width: 50px;
          height: 50px;
        }
        .btn-print {
          cursor: pointer;
          display: flex;
          justify-content: center;
          align-items: center;
          width: 50px;
          height: 50px;
        }
      }
      .book-info {
        .book-code {
          margin-bottom: 5px;
        }
        .book-title {
          font-size: 1.2em;
          margin-bottom: 15px;
        }
      }
      .line {
        width: 100%;
        border-bottom: 1.5px dashed #f0f2f5;
        margin-bottom: 10px;
      }
    }
  }
}
.ebook-vocabulary-note-screen-block {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 99;
}

// eBook Story 내용 > 단어장 > 단어 리스트
.ebook-voca-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  .voca-item {
    padding: 0 10px 10px;
    border-bottom: 1.5px dashed #f0f2f5;
    cursor: pointer;
    .word-item {
      display: flex;
      align-items: center;
      gap: 10px;
      margin-bottom: 15px;
      .word {
        font-size: 1.8em;
      }
    }
    .mean {
      font-size: 1.2em;
      color: #999;
    }
  }
}
