@font-face {
  font-family: "Rg-R";
  font-style: normal;
  font-weight: 100;
  src: url("./SDRGGothicNeoRoundTTF-aRg.woff") format("woff");
}

@font-face {
  font-family: "Rg-B";
  font-style: normal;
  font-weight: 100;
  src: url("./SDRGGothicNeoRoundTTF-bBd.woff") format("woff");
}
